/.idea
/.gradle
/build
/out
/creepernatives
/node_modules
/wix
/jdk
/instances
/bin
/jre
/releaseBuild
/releaseUpload
/natives
*.class
wix.zip
jpackager.archive
package-lock.json
creeperlauncher.log*
hs_err*
debug.log*
jre.archive
rss.xml
screenlog*
/GPUCache
/.localCache
launcher.log.lck

launcher.log

test/

.DS_Store
